var disconnect = function(ws){
    ws.send("exit");
}

module.exports = function(wss){ 

    wss.on('connection', function(ws) {

        ws.send('welcome');

        ws.on('message', function(data, flags) {
            if (flags.binary) 
                return ;

            // data
            // disconnect(ws) => how to close safely
        });

        ws.on('close', function() {
            
        });

        ws.on('error', function(e) {
            
        });
    });
};